img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 #{senderName} invited you to #{projectName}
p Itcan is a place that helps everyone stay organized and on the same page. 
p It’s really straightforward and easy! To join 
a(href=base + link + token) click this button
//- h1 hello, #{name}

hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise