img.image(src=base + 'images/itcan-logo.png' width='130px' title="logo" alt="logo")
h1 Hi, #{name},
p You have been assigned to the #[a(href=base + 'projects/' + projectId + '/tasks/' + slug) #{taskName}] of the project #{projectName}


hr
p Have questions? Need help? 
a(href=base + 'contact' ) Contact our support team 
p and we’ll get back to you in just a few minutes – promise


